<footer class="footer">
    <div class="container container--row">
        <div class="flex">
            Left
        </div>
        <div class="flex">
            Middle
        </div>
        <div class="flex">
            Right
            <h4>
                Contact
            </h4>
            <div class="contact__container">
                <img class="contact__logo contact__logo--github" src="/assets/images/github.svg" />
                <img class="contact__logo" src="/assets/images/slack.svg" />
            </div>
        </div>
    </div>
</footer>