<footer class="footer">
    <div class="container container--row">
        <div class="flex">
        </div>
        <div class="flex">
        </div>
        <div class="flex">
            <h4>
                Contact
            </h4>
            <div class="contact__container">
                <a href="https://github.com/openscd" target="_blank">
                    <img class="contact__logo contact__logo--github" src="{{ '/assets/images/github.svg' | relative_url }}" />
                </a>
                <a href="https://lfenergy.slack.com/archives/C03LH7EUP34" target="_blank">
                    <img class="contact__logo" src="{{ '/assets/images/slack.svg' | relative_url }}" />
                </a>
            </div>
        </div>
    </div>
</footer>
