.container {
    display: flex;
    gap: 32px;
}

.container--row {
    flex-direction: row;
}

.flex {
    flex: 1;
    display: block;
}

.content {
    margin: 32px 64px;
}

.content--sidebar {
    display: flex;
    gap: 32px;
}

.content aside {
    width: 320px;
}

.main {
    flex: 1;
}