.nav--toc {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav--toc a {
    color: var(--primary-color);
}

.toc-entry {
    font-weight: 500;
    margin-bottom: 4px;
    position: relative;
}

.toc-entry::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 2px solid var(--primary-color);
    transition: all 230ms ease-in-out;
}

.toc-entry a {
    text-decoration: none;
}

.toc-entry:hover::before {
    width: 100%;
    transition: all 230ms ease-in-out;
}
